---
import Layout from "../components/Layout.astro";
import PageHeader from "../components/PageHeader.astro";

const title = "ページが存在しません";

const googleURL = new URL("https://www.google.com/search");
googleURL.searchParams.set("q", `site:${Astro.canonicalURL.hostname}`);
---

<Layout {title}>
	<div class="space-y-12">
		<PageHeader {title} />

		<div class="border-t"></div>

		<div class="container prose">
			<p>
				<a href={`https://web.archive.org/web/*/${Astro.request.url}`} data-internet-archive
					>インターネットアーカイブ</a
				>を参照するか、<a href={googleURL}>サイト内を検索する</a>と見つかるかもしれません。
			</p>
		</div>
	</div>
</Layout>
