---
import Layout from "../components/Layout.astro";
import PageTitle from "../components/PageTitle.astro";

const title = "ページが存在しません";

const googleURL = new URL("https://www.google.com/search");
googleURL.searchParams.set("q", `site:${Astro.site.origin}`);
---

<Layout title={title}>
	<div class="space-y-16">
		<PageTitle title={title} />

		<div class="border-t"></div>

		<div class="container prose">
			<p
				set:html={`<a href="${`https://web.archive.org/web/*/${Astro.site}`}" data-internet-archive>インターネットアーカイブ</a>を参照するか、<a href="${googleURL}">サイト内を検索する</a>と見つかるかもしれません。`}
			>
			</p>
		</div>
	</div>

	<script is:inline>
		document.querySelector(
			"[data-internet-archive]"
		).href = `https://web.archive.org/web/*/${location.href}`;
	</script>
</Layout>
