---
import PageHeader from '../components/PageHeader.astro';
import Layout from '../layouts/Layout.astro';

const title = 'ページが存在しません';

const searchURL = new URL('https://www.google.com/search');
searchURL.searchParams.set('q', `site:${Astro.site!.host}`);
---

<Layout is404 title={title}>
  <PageHeader title={title} slot="header" />

  <main class="prose wrapper">
    <p>
      <a data-internet-archive-link href={`https://web.archive.org/web/*/${Astro.site}`}
        >インターネットアーカイブ</a
      >を参照するか、<a href={searchURL}>サイト内を検索する</a
      >と、お探しのページが見つかるかもしれません。
    </p>
  </main>
</Layout>

<script>
  (document.querySelector('[data-internet-archive-link]') as HTMLAnchorElement).href =
    `https://web.archive.org/web/*/${location.href}`;
</script>
