---
import Layout from "../components/Layout.astro";
import PageHeader from "../components/PageHeader.astro";

const title = "ページが存在しません";

const googleURL = new URL("https://www.google.com/search");
googleURL.searchParams.set("q", `site:${Astro.canonicalURL.hostname}`);
---

<Layout {title}>
	<div class="space-y-12">
		<PageHeader {title}><!--  --></PageHeader>

		<div class="border-t"></div>

		<div class="container prose">
			<p>
				<a
					href={`https://web.archive.org/web/*/${Astro.canonicalURL.origin}/`}
					data-internet-archive>インターネットアーカイブ</a
				>を参照するか、<a href={googleURL}>サイト内を検索する</a>と見つかるかもしれません。
			</p>
		</div>
	</div>

	<script is:inline>
		document.querySelector(
			"[data-internet-archive]"
		).href = `https://web.archive.org/web/*/${location.href}`;
	</script>
</Layout>
