---
import { getCollection } from 'astro:content';
import DetailsList from '../components/DetailsList.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import dayjs from '../lib/dayjs';

const title = 'ブログ';

const blogEntries = (await getCollection('blog')).toSorted(
  (a, b) => dayjs(b.data.publishDate).tz().valueOf() - dayjs(a.data.publishDate).tz().valueOf(),
);
---

<Layout title={title}>
  <Header title={title} slot="header" />

  <div class="wrapper">
    <DetailsList
      items={blogEntries.map((entry) => ({
        title: entry.data.title,
        link: `/${entry.slug}`,
        meta: `<time datetime="${dayjs(entry.data.publishDate).tz().toISOString()}">
          ${dayjs(entry.data.publishDate).tz().format('LL')}
        </time>`,
      }))}
      ordered={true}
    />
  </div>
</Layout>
