---
import { getCollection } from 'astro:content';
import DetailsList from '../components/DetailsList.astro';
import PageHeader from '../components/PageHeader.astro';
import Layout from '../layouts/Layout.astro';
import { renderDateToHtml } from '../lib/time-renderers';

const title = '外部サイトの投稿';
const description = '外部サイトに寄稿した記事、登壇したイベントやその資料、出版物など。';

const items = (await getCollection('contributions'))
  .toSorted((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map((entry) => ({
    title: entry.data.title,
    link: entry.data.link,
    meta: [
      renderDateToHtml(entry.data.pubDate),
      `${entry.data.channel}${entry.data.channelDetail ? `（${entry.data.channelDetail}）` : ''}`,
    ].join(' · '),
    description: entry.data.description,
  }));
---

<Layout title={title} description={description}>
  <PageHeader title={title}>
    <p>
      {description}
    </p>
  </PageHeader>

  <main class="wrapper">
    <DetailsList headingLevel={2} items={items} clampDescription />
  </main>
</Layout>
