---
import { experimental_AstroContainer as AstroContainer } from 'astro/container';
import type { CollectionEntry } from 'astro:content';
import { getCollection, getEntry } from 'astro:content';
import DateTime from '../components/DateTime.astro';
import type { TeaserListItem } from '../components/TeaserList.astro';
import TeaserList from '../components/TeaserList.astro';
import PageHeader from '../components/PageHeader.astro';
import YearMonthRange from '../components/YearMonthRange.astro';
import { siteDescription, siteTitle } from '../consts';
import Layout from '../layouts/Layout.astro';
import { getBlogDescription } from '../lib/blog';
import { blogPath } from '../paths';

const everylayoutEntry = await getEntry('blog', '20211011-publication-of-everylayout');

function toPrimaryItem(entry: CollectionEntry<'blog' | 'contributions'>): TeaserListItem {
  switch (entry.collection) {
    case 'blog':
      return {
        title: entry.data.title,
        link: blogPath(entry),
        meta: siteTitle,
      };

    case 'contributions':
      return {
        title: entry.data.title,
        link: entry.data.link,
        meta: entry.data.channelDetail ?? entry.data.channel,
      };

    default:
      throw new TypeError(entry satisfies never);
  }
}

const primaryItems: TeaserListItem[] = [
  toPrimaryItem(await getEntry('blog', '2024-12-01-i-am-not-a-visual-thinker')!),
  toPrimaryItem(
    await getEntry(
      'contributions',
      '2024-11-14-build-original-system-to-distribute-constants-files-instead-of-using-npm-packages',
    )!,
  ),
  toPrimaryItem(await getEntry('contributions', '2024-08-05-analyze-internal-ui-library-usage')!),
  toPrimaryItem(await getEntry('blog', '2024-07-22-text-wrap-in-japanese')!),
  toPrimaryItem(await getEntry('contributions', '2023-07-24-gihyojp-tailwindcss')!),
  toPrimaryItem(await getEntry('blog', '2022-11-03-how-to-understand-the-markup')!),
  toPrimaryItem(await getEntry('blog', '2022-08-14-same-width-buttons')!),
  toPrimaryItem(await getEntry('blog', '2022-08-01-declarative-design')!),
  toPrimaryItem(await getEntry('blog', '2022-06-11-css-components')!),
  toPrimaryItem(await getEntry('contributions', '2022-05-27-body-typography')!),
  toPrimaryItem(await getEntry('contributions', '2021-12-27-shiftbrain-everylayout')!),
  toPrimaryItem(everylayoutEntry!),
  toPrimaryItem(await getEntry('blog', '20210127-prefer-margin-top')!),
  {
    title:
      'CSSのユーティリティクラスと「関心の分離」&mdash;&mdash;いかにしてユーティリティファーストにたどり着いたか（翻訳）',
    link: 'https://yuheiy.hatenablog.com/entry/2020/05/25/021342',
    meta: 'yuhei blog',
  },
  toPrimaryItem(await getEntry('contributions', '2019-03-08-html-for-creators')!),
  toPrimaryItem(
    await getEntry('contributions', '2018-10-26-shiftbrain-in-page-links-and-click-event')!,
  ),
];

const container = await AstroContainer.create();

const projectItems: TeaserListItem[] = await Promise.all(
  [
    {
      title: 'sdenv',
      link: 'https://github.com/yuheiy/sdenv',
      yearMonthRange: {
        start: { year: 2023, month: 7 },
      },
      description:
        'ウェブサイト（not ウェブアプリケーション）のためのフロントエンド開発スターターキット。',
    },
    {
      title: 'accrefs',
      link: 'https://accrefs.jp/',
      yearMonthRange: {
        start: { year: 2019, month: 9 },
      },
      description:
        'ウェブアクセシビリティの参考資料をまとめたサイト。日本語の資料を中心にリンク数は200を超える。サイトのデザインおよび実装に携わる。有志のメンバーにより制作・運営されている。',
    },
    {
      title: 'シフトブレイン／スタンダードデザインユニット',
      link: 'https://standard.shiftbrain.com/',
      yearMonthRange: {
        start: { year: 2018, month: 10 },
        end: { year: 2020, month: 6 },
      },
      description: '自社で所属していたチームのウェブサイト。',
    },
    {
      title: 'yuhei blog',
      link: 'https://yuheiy.hatenablog.com/',
      yearMonthRange: {
        start: { year: 2015, month: 10 },
        end: { year: 2020, month: 11 },
      },
      description: '過去に更新していた個人ブログ。',
    },
  ].map(async ({ yearMonthRange, ...item }) => ({
    ...item,
    meta: await container.renderToString(YearMonthRange, {
      props: yearMonthRange,
    }),
  })),
);

const latestBlogItems: TeaserListItem[] = await Promise.all(
  (await getCollection('blog'))
    .toSorted((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 3)
    .map(async (entry) => ({
      title: entry.data.title,
      link: blogPath(entry),
      meta: await container.renderToString(DateTime, {
        props: {
          date: entry.data.pubDate,
        },
      }),
      description: await getBlogDescription(entry),
    })),
);
---

<Layout isHome description={siteDescription}>
  <PageHeader isHome title="安田 祐平">
    <p>{siteDescription}</p>
    <p>
      監訳を担当した書籍『<a href={blogPath(everylayoutEntry!)}
        >Every Layout&mdash;&mdash;モジュラーなレスポンシブデザインを実現するCSS設計論</a
      >』が<a href="https://www.amazon.co.jp/dp/486246517X">Amazonなどで発売中</a>。
    </p>
  </PageHeader>

  <main>
    <section>
      <h2 class="mt-24 mb-8 text-lg leading-tight font-bold text-dynamic-muted kerning-all">
        おもな投稿
      </h2>

      <TeaserList headingLevel={3} items={primaryItems} />
    </section>

    <section>
      <h2 class="mt-24 mb-8 text-lg leading-tight font-bold text-dynamic-muted kerning-all">
        プロジェクト
      </h2>

      <TeaserList headingLevel={3} items={projectItems} />
    </section>

    <section>
      <h2 class="mt-24 mb-8 text-lg leading-tight font-bold text-dynamic-muted kerning-all">
        最近のブログ
      </h2>

      <TeaserList headingLevel={3} items={latestBlogItems} />
    </section>
  </main>
</Layout>
