---
import type { CollectionEntry } from 'astro:content';
import { getCollection, getEntry } from 'astro:content';
import DetailsList from '../components/DetailsList.astro';
import type { DetailsListItem } from '../components/DetailsList.astro';
import PageHeader from '../components/PageHeader.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Layout.astro';
import { getBlogDescription } from '../lib/get-blog-description';
import { renderDateToHtml } from '../lib/render-date-to-html';
import { renderYearMonthRangeToHtml } from '../lib/render-year-month-range-to-html';

const everylayoutEntry = await getEntry('blog', '20211011-publication-of-everylayout');

const primaryItems = [
  {
    title: 'Tailwind CSS実践入門 ～まず作ってから、あとで共通化する',
    link: 'https://gihyo.jp/list/group/Tailwind-CSS%E5%AE%9F%E8%B7%B5%E5%85%A5%E9%96%80-%EF%BD%9E%E3%81%BE%E3%81%9A%E4%BD%9C%E3%81%A3%E3%81%A6%E3%81%8B%E3%82%89-%E3%81%82%E3%81%A8%E3%81%A7%E5%85%B1%E9%80%9A%E5%8C%96%E3%81%99%E3%82%8B',
    meta: 'gihyo.jp',
  },
  toPrimaryItem(await getEntry('blog', '2023-02-06-tailwind-css-in-wdpress')),
  toPrimaryItem(await getEntry('blog', '2022-11-03-how-to-understand-the-markup')),
  toPrimaryItem(await getEntry('blog', '2022-08-01-declarative-design')),
  toPrimaryItem(await getEntry('blog', '2022-06-11-css-components')),
  {
    title: '本文のタイポグラフィとCSS',
    link: 'https://paper.dropbox.com/doc/CSS-wPD007Sd9dSeEDLP78jri',
    meta: '社内発表',
  },
  {
    title: '『Every Layout』に到った背景と思想についての私の解釈',
    link: 'https://note.com/shiftbrain/n/n0a01726673e0',
    meta: 'SHIFTBRAIN note',
  },
  {
    title: '「Every Layout」をめぐる座談会',
    link: 'https://www.codegrid.net/series/2021-talk-about-every-layout',
    meta: 'CodeGrid',
  },
  toPrimaryItem(everylayoutEntry),
  toPrimaryItem(await getEntry('blog', '20210127-prefer-margin-top')),
  {
    title: 'Tailwind CSSの設計思想を業務に活かす',
    link: 'https://www.codegrid.net/series/2020-tailwind-talk',
    meta: 'CodeGrid',
  },
  {
    title:
      'CSSのユーティリティクラスと「関心の分離」&mdash;&mdash;いかにしてユーティリティファーストにたどり着いたか（翻訳）',
    link: 'https://yuheiy.hatenablog.com/entry/2020/05/25/021342',
    meta: 'yuhei blog',
  },
  {
    title: '制作者のためのHTML',
    link: 'https://yuheiy.github.io/html-for-creators/',
    meta: "<a href='https://ca11y.connpass.com/event/120003/'>CA11Y #1 〜アクセシビリティはじめて物語〜</a>",
  },
  {
    title: 'ページ内リンクの実装から考える、a要素のclickイベントとその振る舞い',
    link: 'https://standard.shiftbrain.com/blog/default-action-for-click-event-of-a-element',
    meta: 'シフトブレイン／スタンダードデザインユニット',
  },
] satisfies DetailsListItem[];

function toPrimaryItem(entry: CollectionEntry<'blog'>): DetailsListItem {
  return {
    title: entry.data.title,
    link: `/${entry.slug}`,
    meta: SITE_TITLE,
  };
}

const projectItems = [
  {
    title: 'sdenv',
    link: 'https://github.com/yuheiy/sdenv',
    meta: renderYearMonthRangeToHtml({ year: 2023, month: 7 }),
    description:
      'ウェブサイト（not ウェブアプリケーション）のためのフロントエンド開発スターターキット。',
  },
  {
    title: 'wordpress-starter',
    link: 'https://github.com/yuheiy/wordpress-starter',
    meta: renderYearMonthRangeToHtml({ year: 2020, month: 8 }, { year: 2022, month: 10 }),
    description: 'WordPressテーマ構築のための開発環境。',
  },
  {
    title: 'accrefs',
    link: 'https://accrefs.jp/',
    meta: renderYearMonthRangeToHtml({ year: 2019, month: 9 }),
    description:
      'ウェブアクセシビリティの参考資料をまとめたサイト。日本語の資料を中心にリンク数は200を超える。サイトのデザインおよび実装に携わる。有志のメンバーにより制作・運営されている。',
  },
  {
    title: 'shifted',
    link: 'https://github.com/yuheiy/shifted',
    meta: renderYearMonthRangeToHtml({ year: 2019, month: 5 }, { year: 2023, month: 7 }),
    description: '静的サイト構築のための開発環境。',
  },
  {
    title: 'シフトブレイン／スタンダードデザインユニット',
    link: 'https://standard.shiftbrain.com/',
    meta: renderYearMonthRangeToHtml({ year: 2018, month: 10 }, { year: 2020, month: 6 }),
    description: '自社で所属していたチームのウェブサイト。',
  },
  {
    title: 'yuhei blog',
    link: 'https://yuheiy.hatenablog.com/',
    meta: renderYearMonthRangeToHtml({ year: 2015, month: 10 }, { year: 2020, month: 11 }),
    description: '過去に更新していた個人ブログ。',
  },
] satisfies DetailsListItem[];

const blogEntries = (await getCollection('blog'))
  .toSorted((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .toReversed();

const latestBlogItems = await Promise.all(
  blogEntries.slice(0, 3).map(async (entry) => {
    const description = await getBlogDescription(entry);
    return {
      title: entry.data.title,
      link: `/${entry.slug}`,
      meta: renderDateToHtml(entry.data.pubDate),
      description,
    };
  }),
);
---

<Layout isHome description={SITE_DESCRIPTION}>
  <PageHeader isHome title="安田 祐平">
    <div class="space-y-4 text-dynamic-muted [&_a:any-link]:text-dynamic">
      <p>{SITE_DESCRIPTION}</p>
      <p>
        監訳を担当した書籍『<a href={`/${everylayoutEntry.slug}`}
          >Every Layout&mdash;&mdash;モジュラーなレスポンシブデザインを実現するCSS設計論</a
        >』が<a href="https://www.hanmoto.com/bd/isbn/9784862465177">オンライン書店などで発売中</a
        >。
      </p>
    </div>
  </PageHeader>

  <main>
    <section class="wrapper">
      <h2
        class="mb-12 text-lg font-bold leading-tight text-dynamic-muted [hanging-punctuation:none]"
      >
        主な投稿
      </h2>

      <DetailsList items={primaryItems} />
    </section>

    <div class="my-16 border-t"></div>

    <section class="wrapper">
      <h2
        class="mb-12 text-lg font-bold leading-tight text-dynamic-muted [hanging-punctuation:none]"
      >
        プロジェクト
      </h2>

      <DetailsList items={projectItems} />
    </section>

    <div class="my-16 border-t"></div>

    <section class="wrapper">
      <h2
        class="mb-12 text-lg font-bold leading-tight text-dynamic-muted [hanging-punctuation:none]"
      >
        最近のブログ
      </h2>

      <DetailsList items={latestBlogItems} clampDescription />
    </section>
  </main>
</Layout>
