---
import { getCollection } from 'astro:content';
import DateTime from '#components/DateTime.astro';
import PageHeader from '#components/PageHeader.astro';
import PageNav from '#components/PageNav.astro';
import Teaser from '#components/Teaser.astro';
import Layout from '#layouts/Layout.astro';

const title = '外部サイトの投稿';
const description = '外部サイトに寄稿した記事、登壇したイベントやその資料、出版物など。';

const items = (await getCollection('links-elsewhere'))
  .toSorted((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map((entry) => ({
    title: entry.data.title,
    link: entry.data.link,
    date: entry.data.pubDate,
    channel: `${entry.data.channel}${entry.data.channelDetail ? `（${entry.data.channelDetail}）` : ''}`,
    description: entry.data.description,
  }));
---

<Layout title={title} description={description}>
  <PageNav />
  <PageHeader title={title} description={description} />

  <main>
    {
      items.map(({ date, channel, ...item }) => (
        <Teaser headingLevel={2} {...item}>
          <Fragment slot="meta">
            <DateTime date={date} /> · <Fragment set:html={channel} />
          </Fragment>
        </Teaser>
      ))
    }
  </main>
</Layout>
