---
interface Props {
  user: string;
  slug: string;
  height: number;
}

const { user, slug, height } = Astro.props;

// https://blog.codepen.io/documentation/oembed/#how-it-works
const { title, author_name: authorName } = await (
  await fetch(
    `https://codepen.io/api/oembed/?url=http://codepen.io/${user}/pen/${slug}&format=json`,
  )
).json();
---

{/* https://blog.codepen.io/documentation/embedded-pens/#the-embed-code */}
<p
  class="codepen flex items-center justify-center border border-dynamic bg-dynamic-inset p-3 leading-latin-normal"
  lang="en"
  data-height={height}
  data-slug-hash={slug}
  data-pen-title={title}
  data-user={user}
  style={{
    height: `${height}px`,
  }}
>
  <span
    >See the Pen <a href={`https://codepen.io/${user}/pen/${slug}`}> {title}</a> by {authorName}
    (<a href={`https://codepen.io/${user}`}>@{user}</a>) on <a href="https://codepen.io">CodePen</a
    >.</span
  >
</p>
<script is:inline async src="https://public.codepenassets.com/embed/index.js"></script>
