---
interface Props {
  title: string;
  lang?: string;
}

const { title, lang = 'ja' } = Astro.props;

const content = await Astro.slots.render('default');

const srcdoc = `<!DOCTYPE html>
<html lang="${lang}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>${title}</title>
    <style>
      @layer {
        :root { color-scheme: light dark; font-size: sans-serif; }
        body { margin: 0; }
      }
    </style>
  </head>
  <body>${content}</body>
</html>`;
---

<iframe class="w-full" srcdoc={srcdoc} title={title} data-demo-iframe></iframe>

<script>
  for (const iframe of document.querySelectorAll<HTMLIFrameElement>('[data-demo-iframe]')) {
    const resizeObserver = new ResizeObserver((entries) => {
      iframe.height = entries[0].contentBoxSize[0].blockSize.toString();
    });

    function setup() {
      if (!iframe.contentDocument) return;
      resizeObserver.observe(iframe.contentDocument.documentElement);
    }

    if (iframe.contentDocument?.readyState === 'complete') {
      setup();
    }
    iframe.addEventListener('load', setup);
  }
</script>
