---
export interface DetailsListItem {
  title: string;
  link: string;
  meta?: string | undefined;
  description?: string | undefined;
}

interface Props {
  headingLevel: 2 | 3;
  items: DetailsListItem[];
  clampDescription?: boolean | undefined;
}

const { headingLevel, items, clampDescription } = Astro.props;

const Heading = `h${headingLevel}`;
---

<div class="space-y-12">
  {
    items.map((item) => (
      <article>
        <header>
          {item.meta && <p class="mb-1 text-sm text-dynamic-muted" set:html={item.meta} />}
          <Heading>
            <a href={item.link} set:html={item.title} />
          </Heading>
        </header>
        {item.description && (
          <p
            class:list={[
              'mt-[0.375rem] text-sm text-dynamic-muted',
              clampDescription && 'line-clamp-3',
            ]}
            set:html={item.description}
          />
        )}
      </article>
    ))
  }
</div>
