---
import "../styles/main.css";
import { Image } from "@astrojs/image/components";
import appleTouchIconImage from "../assets/apple-touch-icon.png";

export interface Props {
	title?: string;
	description?: string;
	ogImageURL?: string;
	ogType?: "website" | "article";
	twitterCard?: "summary" | "summary_large_image";
}

const siteTitle = "Yuhei Yasuda";

const {
	title = siteTitle,
	description,
	ogType = "website",
	twitterCard = "summary",
} = Astro.props as Props;

const ogImageURL = new URL((Astro.props as Props).ogImageURL || appleTouchIconImage.src, Astro.url);

let canonicalURL = Astro.url;
if (Astro.url.pathname === "/404") {
	canonicalURL = null;
}

const EM_SPACE = "&#x2003;";
---

<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, viewport-fit=cover" />
		<meta name="color-scheme" content="light dark" />

		<title set:html={title}></title>

		{description && <meta name="description" content={description} />}

		<meta property="og:title" content={title} />
		<meta property="og:type" content={ogType} />
		<meta property="og:image" content={ogImageURL} />
		{canonicalURL && <meta property="og:url" content={canonicalURL} />}
		{description && <meta property="og:description" content={description} />}
		<meta property="og:site_name" content={siteTitle} />
		<meta property="og:locale" content="ja_JP" />

		<meta name="twitter:card" content={twitterCard} />
		<meta name="twitter:site" content="@_yuheiy" />

		{canonicalURL && <link rel="canonical" href={canonicalURL} />}
		<link rel="alternate" href="/posts-feed.xml" type="application/rss+xml" />
		<link rel="apple-touch-icon" href={appleTouchIconImage.src} />
	</head>

	<body class="text-on-background bg-background">
		<header class="container mb-8 pt-16 text-sm text-on-background-muted kerning">
			<a class="flex items-center gap-x-3 w-fit" href={Astro.url.pathname !== "/" && "/"}>
				<Image
					class="w-7 border dark:border-0 rounded-full"
					src={appleTouchIconImage}
					alt=""
					loading="eager"
				/>
				{siteTitle}
			</a>
		</header>

		<main>
			<slot />
		</main>

		<footer class="sticky top-full mt-16 py-8 text-sm bg-background-variant">
			<nav class="container space-y-4">
				<p
					set:html={`<a href="/">ホーム</a>${EM_SPACE}<a href="/posts">すべての記事</a>${EM_SPACE}<a href="/posts-feed.xml">RSS</a>`}
				>
				</p>
				<p
					set:html={`<a href="https://twitter.com/_yuheiy">Twitter</a>${EM_SPACE}<a href="https://github.com/yuheiy">GitHub</a>${EM_SPACE}<a href="mailto:yuhei.yasuda1003@gmail.com">メール</a>`}
				>
				</p>
			</nav>
		</footer>
	</body>
</html>
