---
import { siteTitle } from "../consts";
import faviconImage from "../favicon.svg";
import "../styles/main.css";

interface Props {
	title?: string;
	description?: string;
	ogImageURL?: string;
	ogType?: "website" | "article";
	twitterCard?: "summary" | "summary_large_image";
	is404?: boolean;
}

const {
	title = siteTitle,
	description,
	ogType = "website",
	twitterCard = "summary",
	is404,
} = Astro.props as Props;

const ogImageURL = new URL(
	(Astro.props as Props).ogImageURL || "/apple-touch-icon.png",
	Astro.site,
);

// remove trailing slash in build time
// https://github.com/withastro/astro/pull/4352
const normalizedPathname = Astro.url.pathname.replace(/\.html$/, "");

let canonicalURL: URL | null = new URL(normalizedPathname, Astro.site);
if (is404) {
	canonicalURL = null;
}
---

<html
	{/* https://bugs.chromium.org/p/chromium/issues/detail?id=1378462 */}
	{/* https://schepp.dev/posts/smooth-scrolling-and-page-search/ */}
	class="break-words leading-normal underline-offset-[0.125em] kerning-none [hanging-punctuation:allow-end] [line-break:normal] focus-within:motion-reduce:scroll-smooth"
	lang="ja"
>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, viewport-fit=cover" />

		<title set:html={title} />

		<meta name="color-scheme" content="light dark" />
		{description && <meta name="description" content={description} />}
		<meta name="generator" content={Astro.generator} />
		<meta name="twitter:card" content={twitterCard} />
		<meta name="twitter:site" content="@_yuheiy" />
		<meta name="twitter:title" content={title} />

		<meta property="og:title" content={title} />
		<meta property="og:type" content={ogType} />
		<meta property="og:image" content={ogImageURL} />
		{canonicalURL && <meta property="og:url" content={canonicalURL} />}
		{description && <meta property="og:description" content={description} />}
		<meta property="og:site_name" content={siteTitle} />
		<meta property="og:locale" content="ja_JP" />

		<link rel="alternate" href="/posts-feed.xml" type="application/rss+xml" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		{canonicalURL && <link rel="canonical" href={canonicalURL} />}
		<link rel="icon" href={faviconImage.src} type="image/svg+xml" />
	</head>

	<body class="min-h-[100svh] bg-dynamic text-dynamic">
		<header class="container mb-8 pt-16 text-sm text-dynamic-muted kerning-normal">
			<p>
				<a class="flex w-fit items-center gap-x-3" href={Astro.url.pathname !== "/" ? "/" : null}>
					<img
						class="w-7 rounded-full ring-1 ring-dynamic"
						src={faviconImage.src}
						width={faviconImage.width}
						height={faviconImage.height}
						alt=""
					/>
					{siteTitle}
				</a>
			</p>
		</header>

		<main>
			<slot />
		</main>

		<footer
			{/* https://css-tricks.com/a-clever-sticky-footer-technique/ */}
			class="sticky top-full mt-16 bg-dynamic-subtle py-8 text-sm"
		>
			<nav class="container space-y-4">
				<p>
					<a href="/">ホーム</a>&#x2003;<a href="/blog">ブログ</a>&#x2003;<a
						href="/posts-feed.xml"
						type="application/rss+xml">RSS</a
					>
				</p>
				<p>
					<a href="https://twitter.com/_yuheiy">Twitter</a>&#x2003;<a
						href="https://github.com/yuheiy">GitHub</a
					>&#x2003;<a href="mailto:yuhei.yasuda1003@gmail.com">メール</a>
				</p>
			</nav>
		</footer>
	</body>
</html>
