---
import "../styles/main.css";

export interface Props {
	title?: string;
	description?: string;
	ogImageURL?: string;
	ogType?: "website" | "article";
	twitterCard?: "summary" | "summary_large_image";
	is404?: boolean;
}

const siteTitle = "Yuhei Yasuda";

const {
	title = siteTitle,
	description,
	ogType = "website",
	twitterCard = "summary",
	is404,
} = Astro.props as Props;

const ogImageURL = new URL(
	(Astro.props as Props).ogImageURL || "/apple-touch-icon.png",
	Astro.site
);

let canonicalURL: URL | null = new URL(Astro.url.pathname, Astro.site);
if (is404) {
	canonicalURL = null;
}

const EM_SPACE = "&#x2003;";
---

<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, viewport-fit=cover" />
		<meta name="color-scheme" content="light dark" />
		<meta name="generator" content={Astro.generator} />

		<title set:html={title}></title>

		{description && <meta name="description" content={description} />}

		<meta property="og:title" content={title} />
		<meta property="og:type" content={ogType} />
		<meta property="og:image" content={ogImageURL} />
		{canonicalURL && <meta property="og:url" content={canonicalURL} />}
		{description && <meta property="og:description" content={description} />}
		<meta property="og:site_name" content={siteTitle} />
		<meta property="og:locale" content="ja_JP" />

		<meta name="twitter:card" content={twitterCard} />
		<meta name="twitter:site" content="@_yuheiy" />

		{canonicalURL && <link rel="canonical" href={canonicalURL} />}
		<link rel="alternate" href="/posts-feed.xml" type="application/rss+xml" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
	</head>

	<body class="text-dynamic bg-dynamic">
		<header class="container mb-8 pt-16 text-sm text-dynamic-muted kerning">
			<a class="flex items-center gap-x-3 w-fit" href={Astro.url.pathname !== "/" ? "/" : null}>
				<img
					class="w-7 ring-1 dark:ring-0 rounded-full"
					src="/favicon.svg"
					width="48"
					height="48"
					alt=""
					decoding="async"
				/>
				{siteTitle}
			</a>
		</header>

		<main>
			<slot />
		</main>

		<footer class="sticky top-full mt-16 py-8 text-sm bg-dynamic-variant">
			<nav class="container space-y-4">
				<p
					set:html={`<a href="/">ホーム</a>${EM_SPACE}<a href="/posts">すべての記事</a>${EM_SPACE}<a href="/posts-feed.xml">RSS</a>`}
				>
				</p>
				<p
					set:html={`<a href="https://twitter.com/_yuheiy">Twitter</a>${EM_SPACE}<a href="https://github.com/yuheiy">GitHub</a>${EM_SPACE}<a href="mailto:yuhei.yasuda1003@gmail.com">メール</a>`}
				>
				</p>
			</nav>
		</footer>
	</body>
</html>
