---
import appleTouchIconImage from '../assets/apple-touch-icon.png';
import faviconImage from '../assets/favicon.svg';
import { siteEmail, siteLang, siteRegion, siteTitle, siteTwitterId } from '../consts';

interface BaseProps {
  isHome?: false | undefined;
  is404?: false | undefined;
  title: string;
  description?: string | undefined;
  ogType?: 'website' | 'article' | undefined;
  ogImage?: string | undefined;
  twitterCard?: 'summary' | 'summary_large_image' | undefined;
}

interface GeneralProps extends BaseProps {}

interface HomeProps extends Omit<BaseProps, 'isHome' | 'title'> {
  isHome: true;
}

interface NotFoundProps extends Omit<BaseProps, 'is404'> {
  is404: true;
}

type Props = GeneralProps | HomeProps | NotFoundProps;

const isHome = Astro.props.isHome === true;
const is404 = Astro.props.is404 === true;

const {
  description,
  ogType = 'website',
  ogImage = appleTouchIconImage.src,
  twitterCard = 'summary',
} = Astro.props;

const title = isHome ? siteTitle : Astro.props.title;
const resolvedOgImage = new URL(ogImage, Astro.site);

const canonicalURL = (() => {
  if (is404) {
    return null;
  }
  // remove trailing slash in build time
  // https://github.com/withastro/astro/pull/4352
  const normalizedPathname = Astro.url.pathname.replace(/\.html$/, '');
  return new URL(normalizedPathname, Astro.site);
})();
---

<!--
  https://bugs.chromium.org/p/chromium/issues/detail?id=1378462
  https://schepp.dev/posts/smooth-scrolling-and-page-search/
-->
<html
  class="leading-normal underline-offset-[0.125em] @container/root kerning-none [hanging-punctuation:allow-end] [line-break:normal] [overflow-wrap:anywhere] [text-spacing-trim:trim-start] focus-within:motion-safe:scroll-smooth"
  lang={siteLang}
>
  <head>
    {
      /**
       * sort the order of elements in the `<head>` to improve performance
       * https://speakerdeck.com/csswizardry/get-your-head-straight?slide=39
       */
    }

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, viewport-fit=cover" />

    <title set:html={title} />

    <meta name="color-scheme" content="light dark" />
    {description && <meta name="description" content={description} />}
    <meta name="generator" content={Astro.generator} />
    <meta name="twitter:card" content={twitterCard} />
    <meta name="twitter:site" content={`@${siteTwitterId}`} />
    <meta name="twitter:title" content={title} />

    <meta property="og:title" content={title} />
    <meta property="og:type" content={ogType} />
    <meta property="og:image" content={resolvedOgImage} />
    {canonicalURL && <meta property="og:url" content={canonicalURL} />}
    {description && <meta property="og:description" content={description} />}
    <meta property="og:site_name" content={siteTitle} />
    <meta property="og:locale" content={`${siteLang}_${siteRegion}`} />

    <link rel="alternate" href="/feed" type="application/rss+xml" />
    <link rel="apple-touch-icon" href={appleTouchIconImage.src} />
    <link rel="author" href={`mailto:${siteEmail}`} />
    {canonicalURL && <link rel="canonical" href={canonicalURL} />}
    <link rel="icon" href={faviconImage.src} type="image/svg+xml" />
  </head>

  <body class="min-h-svh bg-dynamic text-dynamic">
    {
      /**
       * use `100svh` instead of `100dvh`
       * https://piccalil.li/blog/a-more-modern-css-reset/#:~:text=I%20like%20a,to%20change%20it!
       */
    }
    <slot />

    {/* https://css-tricks.com/a-clever-sticky-footer-technique/ */}
    <footer class="sticky top-full mt-16 bg-dynamic-inset py-8 text-sm">
      <div class="wrapper space-y-4">
        <p>
          <a href="/">ホーム</a>&#x2003;<a href="/blog">ブログ</a>&#x2003;<a href="/feed">RSS</a
          >&#x2003;/&#x2003;<a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
        </p>
        <p>
          <a href="https://x.com/_yuheiy">Twitter</a>&#x2003;<a href="https://github.com/yuheiy"
            >GitHub</a
          >&#x2003;<a href={`mailto:${siteEmail}`}>メール</a>
        </p>
      </div>
    </footer>
  </body>
</html>
