---
import appleTouchIconImage from '../assets/apple-touch-icon.png';
import faviconImage from '../assets/favicon.svg';
import {
  siteBlueskyId,
  siteEmail,
  siteGithubId,
  siteHatenaId,
  siteLang,
  siteRegion,
  siteTitle,
  siteTwitterId,
} from '../consts';
import '../styles/global.css';

interface BaseProps {
  isHome?: false | undefined;
  is404?: false | undefined;
  title: string;
  description?: string | undefined;
  ogType?: 'website' | 'article' | undefined;
  ogImage?: string | undefined;
  twitterCard?: 'summary' | 'summary_large_image' | undefined;
}

// eslint-disable-next-line @typescript-eslint/no-empty-object-type
interface GeneralProps extends BaseProps {}

interface HomeProps extends Omit<BaseProps, 'isHome' | 'title'> {
  isHome: true;
}

interface NotFoundProps extends Omit<BaseProps, 'is404'> {
  is404: true;
}

type Props = GeneralProps | HomeProps | NotFoundProps;

const isHome = Astro.props.isHome === true;
const is404 = Astro.props.is404 === true;

const {
  description,
  ogType = 'website',
  ogImage = appleTouchIconImage.src,
  twitterCard = 'summary',
} = Astro.props;

const title = isHome ? siteTitle : Astro.props.title;
const resolvedOgImage = new URL(ogImage, Astro.url);
---

<!--
  https://bugs.chromium.org/p/chromium/issues/detail?id=1378462
  https://schepp.dev/posts/smooth-scrolling-and-page-search/
-->
<html
  class:list={[
    '@container/root bg-dynamic text-[106.25%]/japanese-normal [overflow-wrap:anywhere] text-dynamic underline-offset-[0.3em] scheme-light-dark kerning-none [line-break:normal] [text-spacing-trim:trim-start]',
    'motion-safe:focus-within:scroll-smooth',
  ]}
  lang={siteLang}
>
  <head>
    {
      /**
       * sort the order of elements in the `<head>` to improve performance
       * https://speakerdeck.com/csswizardry/get-your-head-straight?slide=39
       */
    }

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, viewport-fit=cover" />

    <title set:html={title} />

    {description && <meta name="description" content={description} />}
    <meta name="generator" content={Astro.generator} />
    <meta name="twitter:card" content={twitterCard} />
    <meta name="twitter:site" content={`@${siteTwitterId}`} />
    <meta name="twitter:title" content={title} />

    <meta property="og:title" content={title} />
    <meta property="og:type" content={ogType} />
    <meta property="og:image" content={resolvedOgImage} />
    {!is404 && <meta property="og:url" content={Astro.url} />}
    {description && <meta property="og:description" content={description} />}
    <meta property="og:site_name" content={siteTitle} />
    <meta property="og:locale" content={`${siteLang}_${siteRegion}`} />

    <link rel="alternate" href="/rss.xml" type="application/rss+xml" />
    <link rel="apple-touch-icon" href={appleTouchIconImage.src} />
    <link rel="author" href={`mailto:${siteEmail}`} />
    <link rel="author" href={`https://www.hatena.ne.jp/${siteHatenaId}/`} />
    {!is404 && <link rel="canonical" href={Astro.url} />}
    <link rel="icon" href={faviconImage.src} type="image/svg+xml" />
  </head>

  <body
    class:list={[
      'mt-8 mb-12 box-content max-w-(--body-column) pr-(--body-padding-right) pl-(--body-padding-left)',
      '*:mx-auto *:w-[round(down,100%,1rem)]',
    ]}
  >
    <slot />

    <footer class="space-y-2 text-xs text-dynamic-muted">
      <hr class="mt-32 mb-8 w-8 border-t-2 border-t-dynamic" />
      <p class="pb-[0.25em]">
        <a href="/">ホーム</a>&#x2003;<a href="/blog">ブログ</a>&#x2003;<a href="/contributions"
          >外部サイトの投稿</a
        >&#x2003;<a href="/rss.xml">RSS</a>
      </p>
      <p class="pb-[0.25em]">
        <a href="https://creativecommons.org/licenses/by/4.0/deed.ja">CC BY 4.0</a
        >&#x2003;/&#x2003;<a href={`https://x.com/${siteTwitterId}`}>X</a>&#x2003;<a
          href={`https://bsky.app/profile/${siteBlueskyId}`}>Bluesky</a
        >&#x2003;<a href={`https://github.com/${siteGithubId}`}>GitHub</a>&#x2003;<a
          href={`mailto:${siteEmail}`}>メール</a
        >
      </p>
    </footer>
  </body>
</html>
