---
import Layout from "../components/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
import dayjs from "../lib/dayjs";
import { readFirstTextContent } from "../lib/read-first-text-content";

export interface Props {
	content: {
		title: string;
		published: string;
		ogImageURL?: string;
		twitterCard?: "summary" | "summary_large_image";
	};
}

const { content } = Astro.props as Props;
const { title, published, ogImageURL, twitterCard } = content;
const description = readFirstTextContent((content as any).astro.html);
---

<Layout
	title={title}
	description={description}
	ogImageURL={ogImageURL}
	ogType="article"
	twitterCard={twitterCard}
>
	<article class="space-y-16">
		<PageTitle Component="header" title={title}>
			<p class="text-sm text-on-background-muted">
				<time datetime={dayjs(published).tz().toISOString()}>
					{dayjs(published).tz().format("LL")}
				</time>
			</p>
		</PageTitle>

		<div class="border-t"></div>

		<div class="container prose">
			<slot />
		</div>
	</article>
</Layout>
