---
import { Window } from "happy-dom";
import Layout from "../components/Layout.astro";
import PageHeader from "../components/PageHeader.astro";

export interface Props {
	content: {
		title: string;
		published: string;
		ogImage?: string;
		twitterCard?: "summary" | "summary_large_image";
	};
}

const { content } = Astro.props;
const { title, published, ogImage, twitterCard } = content;

const htmlContent = await (Astro as any).__renderMarkdown(content.astro.source, { mode: "md" });
const { document } = new Window();
document.body.innerHTML = htmlContent;
const description = document.querySelector("p")?.textContent;
---

<Layout {title} {description} {ogImage} ogType="article" {twitterCard}>
	<article class="space-y-12">
		<PageHeader Component="header" {title}>
			<p class="text-sm text-on-background-muted">
				<time datetime={published}>
					{new Date(published).toLocaleDateString("ja-JP", { dateStyle: "long" })}
				</time>
			</p>
		</PageHeader>

		<div class="border-t"></div>

		<div class="container prose">
			<slot />
		</div>
	</article>
</Layout>
