---
import { JSDOM } from "jsdom";
import Layout from "../components/Layout.astro";
import PageTitle from "../components/PageTitle.astro";

export interface Props {
	content: {
		title: string;
		published: string;
		ogImageURL?: string;
		twitterCard?: "summary" | "summary_large_image";
	};
}

const { content } = Astro.props as Props;
const { title, published, ogImageURL, twitterCard } = content;

const frag = JSDOM.fragment((content as any).astro.html);
const description = frag.querySelector("p")?.textContent;
---

<Layout
	title={title}
	description={description}
	ogImageURL={ogImageURL}
	ogType="article"
	twitterCard={twitterCard}
>
	<article class="space-y-16">
		<PageTitle Component="header" title={title}>
			<p class="text-sm text-on-background-muted">
				<time datetime={published}>
					{new Date(published).toLocaleDateString("ja-JP", { dateStyle: "long" })}
				</time>
			</p>
		</PageTitle>

		<div class="border-t"></div>

		<div class="container prose">
			<slot />
		</div>
	</article>
</Layout>
